body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    color: #66BFBF;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2 {
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.h2Hello {
    margin-bottom: 15px;
}
hr {
    border-color: #EAF6F6;
    border-width: 7px;
    border-style: dotted;
    border-bottom: none;
    width: 5%;
}
.textHöhe {
    line-height: 1.5;
    
}
.intro {
    width: 40%;
    margin: auto auto 60px auto;
}
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    margin: 100px auto 100px auto;
}
.skills {
    margin: 50px auto 100px auto;
}
.profile-images {
    border-radius: 100%;
    width: 20%;
}
.skill-images1 {
    width: 20%;
    float: left;
    margin-right: 30px;
}
.skill-images2 {
    width: 20%;
    float: right;
    margin-right: 30px;
    margin-bottom: 50px;
}
.skill-row {
    width: 50%;
    margin-left: auto ;
    margin-right: auto;
    text-align: left;
}
.div2 {
    margin-top: 60px;
}
.top-cloud {
    position: absolute;
    right: 250px;
    top: 50px;
}
.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}
.footer-link {
    color: #11999E;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px 0px;
}
.kontaktMessage {
    width: 40%;
    margin: auto auto 60px auto;
}
a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 25px 30px 25px;
    text-decoration: none;
    font-size: 1.3rem;
}
a:hover {
    color: #eaf6f6;
}
.copyride {
    margin-top: 30px;
    color: #eaf6f6;
}
/*Button per Button Generator eingefügt.*/
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }